@page "/bovinos/crear"
@page "/bovinos/crear/{Id:int}"

<PageTitle>Father Cow</PageTitle>

<MenuDisplay />

<div class="button" style="float: right;">
    <button class="btn btn-secondary" @onclick="back">
        <span class="oi oi-list-rich"></span> Ver Lista
    </button>
</div>

<EditForm Model="@Produc" OnValidSubmit="Send">
    <h1>@Titulo</h1>
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group">
        <label for="">Raza</label>
        <InputText class="form-control" @bind-Value="Produc.Raza"/>
    </div>
    <div class="form-group">
        <label for="">Color</label>
        <InputText class="form-control" @bind-Value="Produc.Color"/>
    </div>
    <div class="form-group">
        <label for="">Sexo</label>
        <InputSelect class="form-control" @bind-Value="Produc.Sexo">
            @foreach (var opcion in Sexo)
            {
                <option value="@opcion">@opcion</option>
            }
        </InputSelect> 
    </div>
    <div class="form-group">
        <label for="">Id/Padre</label>
        <InputNumber class="form-control" @bind-Value="Produc.IdPadre"/>
    </div>
    <div class="form-group">
        <label for="">Id/Madre</label>
        <InputNumber class="form-control" @bind-Value="Produc.IdMadre"/>
    </div>
    <div class="form-group">
        <label for="">Fecha/Nacimiento</label>
        <InputDate class="form-control" @bind-Value="Produc.FechaNac"/>
    </div>
    <div class="form-group">
        <label for="">Peso/Nacer</label>
        <InputNumber class="form-control" @bind-Value="Produc.PesoNacer"/>
    </div>
    <div class="form-group">
        <label for="">Costo</label>
        <InputNumber class="form-control" @bind-Value="Produc.Costo"/>
    </div>
    <div class="form-group">
        <label for="">Observación</label>
        <InputSelect class="form-control" @bind-Value="Produc.Observacion">
            @foreach (var opcion in Observ)
            {
                <option value="@opcion">@opcion</option>
            }
        </InputSelect> 
    </div>

    <button type="submit" class="mt-2 btn btn-success">OK</button>
</EditForm>

@code
{
    [Parameter]
    public int Id { get; set; } = 0;

    public string Titulo => Id>0? "Editar Bovino":"Registrar Bovino";
    public BovinoUpdateRequest Produc { get; set; } = new BovinoUpdateRequest();

    public List<string> Observ = new List<string> 
    { 
        "Condiciones optimas", 
        "Delgado", 
        "Enfermo", 
        "Herido" 
    };
    public List<string> Sexo = new List<string> 
    { 
        "Macho", 
        "Hembra"
    };

    protected override async Task OnInitializedAsync()
    {
        if(Id!=0)
        {
            var resultado = await bovinosManager.GetByIdAsync(Id);
            if(resultado.Succeeded)
            {
                Produc.IdBovino = resultado.Data.IdBovino;
                Produc.Raza = resultado.Data.Raza;
                Produc.Color = resultado.Data.Color;
                Produc.Sexo = resultado.Data.Sexo;
                Produc.FechaNac = resultado.Data.FechaNac;
                Produc.PesoNacer = resultado.Data.PesoNacer;
                Produc.Costo = resultado.Data.Costo;
                Produc.Observacion = resultado.Data.Observacion;

                StateHasChanged();
            }
        }
    }
    
    public async void Send()
    {
        var resultado = await bovinosManager.CreateAsync(Produc);

        if(resultado.Succeeded) urlHelper.NavigateTo("/padres/crear",false);
    }
    void back()
    {
        urlHelper.NavigateTo("/bovinos",false);
    }
}
