@page "/bovino"

<PageTitle>Ganado</PageTitle>

<MenuDisplay />

<h1>Lista Del Ganado</h1>
<button class="btn btn-success" @onclick="Agregar">
    <span class="oi oi-plus"></span> Agregar
</button>

<table class="table">
    <thead>
        <tr>
            <th>ID/Bovino</th>
            <th>Raza</th>
            <th>Color</th>
            <th>Sexo</th>
            <th>ID/Padre</th>
            <th>ID/Madre</th>
            <th>Fecha/Nacimiento</th>
            <th>Peso/Nacer</th>
            <th>Observación</th>
        </tr>
    </thead>
    <tbody> 
        @if(Bovinos != null)
        {
            @foreach (var produc in Bovinos)
            {
                <tr>
                    <td>@produc.IdBovino </td>
                    <td>@produc.Raza </td>
                    <td>@produc.Color </td>
                    <td>@produc.Sexo </td>
                    <td>@produc.Padre </td>
                    <td>@produc.Madre </td>
                    <td>@produc.FechaNac </td>
                    <td>@produc.PesoNacer </td>
                    <td>@produc.Observacion </td>
                    <td><span class="btn btn-outline-warning" @onclick="()=>Editar(produc.IdBovino)">Editar</span></td>
                </tr>
            }
        }
        else
        {
            <p>Cargando...</p>
        }
    </tbody>
</table>

@code
{
    public List<BovinoRecord>? Bovinos { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await bovinosManager.GetAsync();
        if(response.Succeeded)
        {
            Bovinos = response.Items.ToList();
        }
    }

    public void Agregar()
    {
        urlHelper.NavigateTo("/bovino/crear",false);
    }

    public void Editar(int Id)
    {
        urlHelper.NavigateTo($"/bovino/editar/{Id}",false);
    }
}